data/raw
data/sample/hein-bound/
data/sample/hein-daily/
data/QA/.ipynb_checkpoints/
internal
Environment/W266-2-c0ee0ca856ea.json
Environment/client_id.json
data/QA/gs_connect.py
data/QA/.ipynb_checkpoints/collecting_demo-checkpoint.ipynb data/QA/.ipynb_checkpoints/nltk-checkpoint.ipynb data/QA/.ipynb_checkpoints/speakermap_qa-checkpoint.ipynb
data/QA/__pycache__/
data/QA/.ipynb_checkpoints/speakermap_qa-checkpoint.ipynb
EDA/.ipynb_checkpoints/EDA_Faria_March_7th_descr-checkpoint.ipynb EDA/.ipynb_checkpoints/EDA_Faria_March_7th_speakermap-checkpoint.ipynb EDA/.ipynb_checkpoints/EDA_Faria_Yulia_0312-checkpoint.ipynb EDA/.ipynb_checkpoints/EDA_Yulia_0309_speakermap-checkpoint.ipynb
EDA/.ipynb_checkpoints/EDA_Faria_Yulia_0312-checkpoint.ipynb
EDA/.ipynb_checkpoints/EDA_Yulia_0309_speakermap-checkpoint.ipynb
data/QA/full_descr.txt
data/QA/full_descr_fuzzy.txt
EDA/.ipynb_checkpoints/EDA_Faria_Yulia_0312_descr-checkpoint.ipynb
Classification/.ipynb_checkpoints/
Classification/helpers/__pycache__/
EDA/.ipynb_checkpoints/
logs/
Classification/data/
data/glove.6B.zip
data/glove.6B.100d.txt data/glove.6B.200d.txt data/glove.6B.300d.txt data/glove.6B.50d.txt data/glove.6B.zip
data/glove.6B.100d.txt
data/glove.6B.200d.txt
data/glove.6B.300d.txt
data/glove.6B.50d.txt
Classification/ethnicity/.ipynb_checkpoints/
Classification/gender/tests/.ipynb_checkpoints/
Classification/gender/.ipynb_checkpoints/
LDA/.ipynb_checkpoints/
Classification/age/.ipynb_checkpoints/
Classification/party/.ipynb_checkpoints/
LDA/data
predictions/
EDA/w266_common
EDA/helpers
LDA/Topic-chart.ipynb
Classification/gender/Untitled.ipynb
EDA/Untitled.ipynb
LDA/GCP/.ipynb_checkpoints/
